<html>
  <head><title>New Tracks</title></head>
  <body>
    <ul>
    <% playlist_tracks.each do |track| %>
      <li><a href="/track/<%= track.id %>"><%= track.desc %></li>
    <% end %>
    </ul>
  </body>
</html>
